{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% get_current_language_bidi as LANGUAGE_BIDI %}


{% block pagename %}{% trans 'backtrack' %}{% endblock %}


{% block content %}
    <div class="w3-row-padding w3-content w3-main" style="max-width:800px;margin-top:43px;padding-top:16px;">
        <div class="w3-container w3-margin-top w3-card-4">
            <div class="w3-container">
                <p>
                    {% trans 'backtrack-about' %}
                </p>
            </div>
        </div>
        {% for user, data in result %}
            <div class="w3-margin-top w3-card">
                <header class='w3-container w3-{{ contest.theme }}'><h1>{{ user }}</h1></header>
                <div class="w3-container">
                    <ul class="w3-ul">
                        {% for diff in data.diffs %}
                            <li class="w3-bar">
                                <div class="w3-bar-item">
                                    <span class="w3-large">
                                        <a
                                        href='{{ contest.endpoint }}?diff={{ diff.diff }}'
                                        target='_blank'
                                        rel="noopener"
                                        >{{ diff.diff }}</a>
                                    </span>
                                    <br>
                                    <span>
                                        {% blocktrans with backtrack_stats_1=diff.timestamp backtrack_stats_2=diff.bytes %}.{{ backtrack_stats_1 }}.{{ backtrack_stats_2 }}.{% endblocktrans %}
                                    </span>
                                </div>
                                <form method="post">
                                    {% csrf_token %}
                                    <input type='hidden' name='diff' value='{{ diff.diff }}'>
                                    <button
                                    type='submit'
                                    onclick="return confirm('{% trans 'backtrack-areyousure' %}')"
                                    class='w3-bar-item w3-{{ right }} w3-button w3-section w3-green'
                                    >{% trans 'backtrack-accept' %}</button>
                                </form>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <footer class='w3-container w3-{{ contest.theme }}' style='filter: hue-rotate(180deg);'>
                    <h5>{% blocktrans with backtrack_enrollment_1=data.enrollment_timestamp %}.{{ backtrack_enrollment_1 }}.{% endblocktrans %}</h5>
                </footer>
            </div>
        {% endfor %}
    </div>
    {% if diff %}
        <script>
            alert('{% trans 'backtrack-success' %}');
            window.location.href = window.location.href;
        </script>
    {% endif %}
{% endblock %}