{% load static %}
{% load i18n %}
{% load titlescore %}
{% trans 'Title' context 'edits-title' as title %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>{{ contest.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'w3.css' %}">
    {% if contest.color %}
        <style>
            :root {--color: #{{ contest.color }};}
            .w3-color, .w3-hover-color:hover {color: #fff !important; background-color: var(--color) !important;}
            .w3-text-color, .w3-hover-text-color:hover {color: var(--color) !important;}
            .w3-border-color, .w3-hover-border-color:hover {border-color: var(--color) !important;}
        </style>
    {% endif %}
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/font-awesome/6.2.0/css/all.css">
    <script 
        src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/Chart.js/3.9.1/chart.min.js" 
        integrity="sha384-9MhbyIRcBVQiiC7FSd7T38oJNj2Zh+EfxS7/vjhBi4OOT78NlHSnzM31EZRWR1LZ" 
        crossorigin="anonymous"></script>
</head>
<body>
    <div class="w3-{{ contest.theme }} w3-large w3-bar">
        <a href="{% url 'home_view' %}">
            <img src="{% static 'Logo_Branco.svg' %}" alt="logo" class="w3-bar-item" style="width: 128px;">
        </a>
        <button onclick="window.open('{% url 'graph_view' %}?contest={{ contest.name_id }}', '_blank');" class="w3-button w3-bar-item">{% trans 'Graphic scoreboard' context 'login-graph' %}</button>
        {% if is_evaluator %}
            <button onclick="window.open('{% url 'triage_view' %}?contest={{ contest.name_id }}', '_self')" class="w3-button w3-bar-item">{% trans 'Manage contest' context 'login-manage' %}</button>
        {% endif %}
        <span class="w3-bar-item w3-right w3-hide-small">{{ contest.name }}</span>
    </div>
    <div class="w3-container w3-card w3-margin w3-{{ contest.theme }}">
        <div class="w3-center">
            <h3 class="w3-margin-top w3-padding">{% trans 'WikiScore' context 'main-title' %}</h3>
        </div>
        <div class="w3-row">
            <div class="w3-half">
                <div class="w3-third">
                    <h6 class="w3-center">{% trans 'Listed articles' context 'counter-allpages' %}</h6>
                    <h1 class="w3-center">{{ articles |floatformat:"g" }}</h1>
                </div>
                <div class="w3-third">
                    <h6 class="w3-center">{% trans 'Edited articles' context 'counter-alledited' %}</h6>
                    <h1 class="w3-center">{{ edits_summary.edited_articles |floatformat:"g" }}</h1>
                </div>
                <div class="w3-third">
                    <h6 class="w3-center">{% trans 'Created articles' context 'counter-allcreated' %}</h6>
                    <h1 class="w3-center">{{ edits_summary.new_pages |floatformat:"g" }}</h1>
                </div>
            </div>
            <div class="w3-half">
                <div class="w3-third">
                    <h6 class="w3-center">{% trans 'Enrolled users' context 'counter-allenrolled' %}</h6>
                    <h1 class="w3-center">{{ participants |floatformat:"g" }}</h1>
                </div>
                <div class="w3-third">
                    <h6 class="w3-center">{% trans 'Validated edits' context 'counter-allvalidated' %}</h6>
                    <h1 class="w3-center">{{ edits_summary.valid_edits |floatformat:"g" }}</h1>
                </div>
                <div class="w3-third">
                    <h6 class="w3-center">{% trans 'Bytes added' context 'counter-allbytes' %}</h6>
                    <h1 class="w3-center">{{ edits_summary.all_bytes |floatformat:"g" }}</h1>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="w3-row-padding w3-center w3-section">
            <div class="w3-third">
                <div class="w3-container w3-card w3-{{ contest.theme }}">
                    <div class="w3-half">
                        <h6 class="w3-center">{% trans 'Most edited article' context 'counter-most-edited' %}</h6>
                    </div>
                    <div class="w3-half">
                        <h4 class="w3-center">
                            <a href="{{ contest.endpoint }}?curid={{ most_edited.article}}" target="_blank" rel="noopener">
                                {{ most_edited.article__title| titlescore  |default_if_none:title }}
                            </a>
                            <br>
                            {% blocktrans with 1=most_edited.total context 'counter-editions' %}{{1}} edits{% endblocktrans %}
                        </h4>
                    </div>
                </div>
            </div>
            <div class="w3-third">
                <div class="w3-container w3-card w3-{{ contest.theme }}">
                    <div class="w3-half">
                        <h6 class="w3-center">{% trans 'Most expanded article' context 'counter-biggest-delta' %}</h6>
                    </div>
                    <div class="w3-half">
                        <h4 class="w3-center">
                            <a href="{{ contest.endpoint }}?curid={{ biggest_delta.article}}" target="_blank" rel="noopener">
                                {{ biggest_delta.article__title| titlescore  |default_if_none:title }}
                            </a>
                            <br>
                            {% blocktrans with 1=biggest_delta.total context 'triage-bytes' %}{{1}} bytes{% endblocktrans %}
                        </h4>
                    </div>
                </div>
            </div>
            <div class="w3-third">
                <div class="w3-container w3-card w3-{{ contest.theme }}">
                    <div class="w3-half">
                        <h6 class="w3-center">{% trans 'Biggest edition' context 'counter-biggest-edition' %}</h6>
                    </div>
                    <div class="w3-half">
                        <h4 class="w3-center">
                            <a href="{{ contest.endpoint }}?curid={{ biggest_edit.article}}" target="_blank" rel="noopener">
                                {{ biggest_edit.article__title| titlescore |default_if_none:title }}
                            </a>
                            <br>
                            {% blocktrans with 1=biggest_edit.last_evaluation__real_bytes context 'triage-bytes' %}{{1}} bytes{% endblocktrans %}
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w3-row-padding">
        <div class="w3-third w3-margin-bottom">
            <div class="w3-card-4 w3-padding">
                <canvas id="total_edits"></canvas>
            </div>
        </div>
        <div class="w3-third w3-margin-bottom">
            <div class="w3-card-4 w3-padding">
                <canvas id="new_bytes"></canvas>
            </div>
        </div>
        <div class="w3-third w3-margin-bottom">
            <div class="w3-card-4 w3-padding">
                <canvas id="new_articles"></canvas>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        const dias = [ {{ date }} ];

        const total_edits = new Chart(
            document.getElementById('total_edits'),
            {
                type: 'line',
                options: {
                    aspectRatio: 1.5,
                    plugins: {
                        title: {
                            display: true,
                            text: "{% trans 'Edits per day' context 'login-alledits' %}"
                        },
                        legend: {
                            display: false
                        }
                    }
                },
                data: {
                    labels: dias,
                    datasets: [
                        {
                            label: '{% trans 'Edits per day' context 'login-alledits' %}',
                            data: [ {{ total_edits }} ],
                            fill: false,
                            borderColor: 'rgb(128, 0, 128)',
                            tension: 0.1
                        },
                        {
                            label: '{% trans 'Validated edits per day' context 'login-validedits' %}',
                            data: [ {{ valid_edits }} ],
                            fill: false,
                            borderColor: 'rgb(143, 188, 143)',
                            tension: 0.1
                        }
                    ]
                }
            }
        );

        const new_articles = new Chart(
            document.getElementById('new_articles'),
            {
                type: 'line',
                options: {
                    aspectRatio: 1.5,
                    plugins: {
                        title: {
                            display: true,
                            text: "{% trans 'Created articles and enrolled participants per day' context 'login-newevents' %}"
                        },
                        legend: {
                            display: false
                        }
                    }
                },
                data: {
                    labels: dias,
                    datasets: [
                        {
                            label: '{% trans 'New articles per day' context 'login-newpages' %}',
                            data: [ {{ new_articles }} ],
                            fill: false,
                            borderColor: 'rgb(65, 105, 225)',
                            tension: 0.1
                        },
                        {
                            label: '{% trans 'Enrolled participants per day' context 'login-newparticipants' %}',
                            data: [ {{ new_participants }} ],
                            fill: false,
                            borderColor: 'rgb(219, 112, 147)',
                            tension: 0.1
                        }
                    ]
                }
            }
        );

        const new_bytes = new Chart(
            document.getElementById('new_bytes'),
            {
                type: 'line',
                options: {
                    aspectRatio: 1.5,
                    plugins: {
                        title: {
                            display: true,
                            text: "{% trans 'KBytes added per day' context 'login-newbytes' %}"
                        },
                        legend: {
                            display: false
                        }
                    }
                },
                data: {
                    labels: dias,
                    datasets: [
                        {
                            label: '{% trans 'KBytes added per day' context 'login-newbytes' %}',
                            data: [ {{ total_bytes }} ],
                            fill: false,
                            borderColor: 'rgb(219, 112, 147)',
                            tension: 0.1
                        },
                        {
                            label: '{% trans 'KBytes validated per day' context 'login-validbytes' %}',
                            data: [ {{ valid_bytes }} ],
                            fill: false,
                            borderColor: 'rgb(255, 69, 0)',
                            tension: 0.1
                        }
                    ]
                }
            }
            );
    </script>
</body>
</html>
