{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load titlescore %}
{% get_current_language_bidi as LANGUAGE_BIDI %}


{% block pagename %}{% trans 'evaluators' %}{% endblock %}

{% block content %}
    <div class="w3-row-padding w3-content w3-main" style="max-width:800px;margin-top:43px;padding-top:16px;">
        <div class="w3-container w3-margin-top w3-card-4">
            <div class="w3-container">
                <p>{% trans 'evaluators-about' %}</p>
            </div>
        </div>
        {% if status == "G" %}
            <div class="w3-margin-top w3-card">
                <header class='w3-container w3-{{ contest.theme }}'>
                    <h1>{% trans 'evaluators-neweval' %}</h1>
                </header>
                <div class="w3-container">
                    <ul class="w3-ul">
                        <li class="w3-bar">
                            <i class="w3-bar-item w3-padding-16 fa-regular fa-circle-user w3-{{ left }}" style="font-size: 3em; padding: 20px;"></i>
                            <form method="post">
                                {% csrf_token %}
                                <input type="text" placeholder="{% trans 'password-username' %}" name="new"
                                class="w3-input w3-border w3-bar-item w3-section w3-{{ left }}"
                                >
                                <button type='submit'
                                class='w3-bar-item w3-{{ right }} w3-button w3-section w3-{{ contest.theme }}'
                                >
                                    {% trans 'evaluators-register' %}
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        {% endif %}
        <div class="w3-margin-top w3-card">
            <header style="filter: hue-rotate(60deg);" class='w3-container w3-{{ contest.theme }}'>
                <h1>{% trans 'evaluators-manager' %}</h1>
            </header>
            <div class="w3-container">
                <ul class="w3-ul">
                    {% for evaluator in managers %}
                        <li class="w3-bar">
                            <i class="w3-bar-item w3-padding-24 fa-solid fa-circle-user w3-{{ left }}" style="font-size: 3em;"></i>
                            <div class="w3-bar-item w3-{{ left }}">
                                <span class='w3-large'>{{ evaluator.username }}</span><br>
                                <span>{{ evaluator.global_id }}</span><br>
                                <span>{% blocktrans with evaluators_stats_1=evaluator.evaluation_count %}.{{evaluators_stats_1}}.{% endblocktrans %}</span>
                            </div>
                            {% if status == "G" %}
                                <form method="post">
                                    {% csrf_token %}
                                    <input type='hidden' name='reset' value='1'>
                                    <input type='hidden' name='user' value='{{ evaluator.username }}'>
                                    <button
                                    type='submit'
                                    onclick="return confirm('{% trans 'evaluators-areyousure' %}')"
                                    class='w3-bar-item w3-{{ right }} w3-button w3-margin w3-red'
                                    >{% trans 'counter-redefine' %}</button>
                                </form>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="w3-margin-top w3-card">
            <header style="filter: hue-rotate(120deg);" class='w3-container w3-{{ contest.theme }}'>
                <h1>{% trans 'evaluators' %}</h1>
            </header>
            <div class="w3-container">
                <ul class="w3-ul">
                    {% for evaluator in evaluators %}
                        <li class="w3-bar">
                            <i class="w3-bar-item w3-padding-24 fa-solid fa-circle-user w3-{{ left }}" style="font-size: 3em;"></i>
                            <div class="w3-bar-item w3-{{ left }}">
                                <span class='w3-large'>{{ evaluator.username }}</span><br>
                                <span>{{ evaluator.global_id }}</span><br>
                                <span>{% blocktrans with evaluators_stats_1=evaluator.evaluation_count %}.{{evaluators_stats_1}}.{% endblocktrans %}</span>
                            </div>
                            {% if status == "G" %}
                                <form method="post">
                                    {% csrf_token %}
                                    <input type='hidden' name='off' value='1'>
                                    <input type='hidden' name='user' value='{{ evaluator.username }}'>
                                    <button
                                    type='submit'
                                    onclick="return confirm('{% trans 'evaluators-areyousure' %}')"
                                    class='w3-bar-item w3-{{ right }} w3-button w3-section w3-orange'
                                    >{% trans 'evaluators-disable' %}</button>
                                </form>
                                <form method="post">
                                    {% csrf_token %}
                                    <input type='hidden' name='reset' value='1'>
                                    <input type='hidden' name='user' value='{{ evaluator.username }}'>
                                    <button
                                    type='submit'
                                    onclick="return confirm('{% trans 'evaluators-areyousure' %}')"
                                    class='w3-bar-item w3-{{ right }} w3-button w3-margin w3-red'
                                    >{% trans 'counter-redefine' %}</button>
                                </form>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="w3-margin-top w3-card">
            <header style="filter: hue-rotate(180deg);" class='w3-container w3-{{ contest.theme }}'>
                <h1>{% trans 'evaluators-disabled' %}</h1>
            </header>
            <div class="w3-container">
                <ul class="w3-ul">
                    {% for evaluator in disabled %}
                        <li class="w3-bar">
                            <i class="w3-bar-item w3-padding-24 fa-solid fa-circle-user w3-{{ left }}" style="font-size: 3em;"></i>
                            <div class="w3-bar-item w3-{{ left }}">
                                <span class='w3-large'>{{ evaluator.username }}</span><br>
                                <span>{{ evaluator.global_id }}</span><br>
                                <span>{% blocktrans with evaluators_stats_1=evaluator.evaluation_count %}.{{evaluators_stats_1}}.{% endblocktrans %}</span>
                            </div>
                            {% if status == "G" %}
                                <form method="post">
                                    {% csrf_token %}
                                    <input type='hidden' name='on' value='1'>
                                    <input type='hidden' name='user' value='{{ evaluator.username }}'>
                                    <button
                                    type='submit'
                                    onclick="return confirm('{% trans 'evaluators-areyousure' %}')"
                                    class='w3-bar-item w3-{{ right }} w3-button w3-section w3-green'
                                    >{% trans 'evaluators-enable' %}</button>
                                </form>
                                <form method="post">
                                    {% csrf_token %}
                                    <input type='hidden' name='reset' value='1'>
                                    <input type='hidden' name='user' value='{{ evaluator.username }}'>
                                    <button
                                    type='submit'
                                    onclick="return confirm('{% trans 'evaluators-areyousure' %}')"
                                    class='w3-bar-item w3-{{ right }} w3-button w3-margin w3-red'
                                    >{% trans 'counter-redefine' %}</button>
                                </form>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}