{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% get_current_language_bidi as LANGUAGE_BIDI %}


{% block pagename %}{% trans 'Triage' context 'triage' %}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'diff.css' %}">
    <script type="text/javascript" src="{% static 'authorship.js' %}"></script>
    <script type="text/javascript" src="{% static 'copyvios.js' %}"></script>
    <script type="text/javascript">
        function handleOverwriteClick(outputRevisionBytes) {
            var overwriteElement = document.getElementById('overwrite');

            overwriteElement.removeAttribute('value');
            overwriteElement.type = 'number';
            overwriteElement.className = 'w3-input w3-border';
            overwriteElement.value = outputRevisionBytes;
            overwriteElement.removeAttribute('onclick');
            overwriteElement.removeAttribute('id');

            var obsElement = document.getElementById('obs');
            obsElement.required = true;
        }

        function movePosition(){
            var first = document.getElementById("first_column");
            var third = document.getElementById("third_column");
            var edits = document.getElementById("edits");

            var windowWidth = document.documentElement.clientWidth;
            if(windowWidth < 601){
                third.insertBefore(edits, third.firstChild);
            } else {
                first.appendChild(edits);
            }
        }

        function getSelectedText() {
            var text = "";
            if (window.getSelection) {
                text = window.getSelection().toString();
            } else if (document.selection && document.selection.type !== "Control") {
                text = document.selection.createRange().text;
            }
            return text;
        }

        function countBytes(text) {
            // Count the number of bytes using the TextEncoder API
            var encoder = new TextEncoder();
            var bytes = encoder.encode(text);
            return bytes.length;
        }

        function updateTooltip() {
            var selectedText = getSelectedText();
            var byteCount = countBytes(selectedText);
            var tooltip = document.getElementById("tooltip");

            if (byteCount > 0) {
                tooltip.parentElement.style.visibility = "visible";
                tooltip.innerHTML = "{% trans 'Bytes in selected text' context 'triage-counter' %}: " + byteCount;
            } else {
                tooltip.parentElement.style.visibility = "hidden";
            }
        }

        var domReady = function(callback) {
            document.readyState === "interactive" || document.readyState === "complete" ? callback() : document.addEventListener("DOMContentLoaded", callback);
        };
        domReady(function() {
            movePosition();
            document.getElementById("text-container").addEventListener("mouseup", updateTooltip);
        });

        window.onresize = function(event) {
            movePosition()
        };
    </script>
    {% if action != None %}
        <script type="text/javascript">history.replaceState(null, document.title, location.href);</script>
    {% endif %}
{% endblock %}

{% block onload %}calculateAuthorship('{% if edit.diff %}{{ edit.diff }}{% else %}false{% endif %}','{{ contest.endpoint }}'){% endblock %}
  
{% block content %}
    <div class="w3-row-padding w3-content w3-main" style="max-width:unset;margin-top:43px;padding-top:16px;">
        <div id="first_column" class="w3-quarter">
            {% if action.edit %}
                <div
                class="w3-container w3-light-grey w3-border w3-border-dark-grey w3-margin-bottom"
                style="display: block"
                >
                    <h2>{% trans 'Last evaluation' context 'triage-lasteval' %}</h2>
                    <p>
                        {% trans 'Diff' context 'triage-diff' %}: 
                            <a
                            href="{{ contest.endpoint }}?diff={{ action.edit.diff }}"
                            rel="noopener"
                            target="_blank">{{ action.edit.diff }}</a>
                    </p>
                    <p>
                        {% trans 'Valid edit' context 'triage-validedit' %}: {% if action.valid_edit %}<i
                        class="fa-regular w3-text-green fa-circle-check"
                        aria-hidden="true"
                        ></i> {% trans 'Yes' context 'yes' %}{% else %}<i
                        class="fa-regular w3-text-red fa-circle-xmark"
                        aria-hidden="true"
                        ></i> {% trans 'No' context 'no' %}{% endif %}
                    </p>
                    <p>
                        {% trans 'With image' context 'triage-withimage' %}: {% if action.picture %}<i
                        class="fa-regular w3-text-green fa-circle-check"
                        aria-hidden="true"
                        ></i> {% trans 'Yes' context 'yes' %}{% else %}<i
                        class="fa-regular w3-text-red fa-circle-xmark"
                        aria-hidden="true"
                        ></i> {% trans 'No' context 'no' %}{% endif %}
                    </p>
                    <p>
                        <button
                        class="w3-button w3-border-purple w3-purple w3-border w3-block w3-small"
                        type="button"
                        onclick="window.open(
                            'index.php?contest={{ contest.name_id }}&page=modify&diff={{ action.edit.diff }}',
                            '_blank'
                        );"><i class="fa-solid fa-eraser w3-medium" aria-hidden="true"></i> {% trans 'Review' context 'triage-fix' %}</button>
                    </p>
                </div>
            {% endif %}
            <div class="w3-container w3-light-grey w3-border w3-border-dark-grey w3-margin-bottom"
            style="display:{% if edit.timestamp %}block{% else %}none{% endif %};">
                <h2>{% trans 'Evaluation' context 'triage-evaluation' %}</h2>
                <form method="post" id="evaluate">
                    {% csrf_token %}
                    <input type="hidden" name="diff" value="{{ edit.diff }}">
                    <div class="w3-container w3-cell w3-col l6 m12 s6">
                        <p>{% trans 'Valid edit?' context 'isvalid' %}</p>
                        <input
                        class="w3-radio w3-section"
                        type="radio"
                        id="valid-sim"
                        name="valid"
                        value="sim"
                        onclick="document.getElementById('obs').required = false"
                        onkeydown="document.getElementById('obs').required = false"
                        required>
                        <label for="valid-sim">{% trans 'Yes' context 'yes' %}</label><br>
                        <input
                        class="w3-radio w3-section"
                        type="radio"
                        id="valid-nao"
                        name="valid"
                        value="nao"
                        onclick="document.getElementById('obs').required = true"
                        onkeydown="document.getElementById('obs').required = true"
                        required>
                        <label for="valid-nao">{% trans 'No' context 'no' %}</label><br><br>
                    </div>
                    <div class="w3-container w3-cell w3-col l6 m12 s6">
                        {% if contest.picture_mode == 2 %}
                            <p>{% trans 'With image?' context 'withimage' %}</p>
                            <input
                            class="w3-input w3-section"
                            type="number"
                            id="pic"
                            name="pic"
                            value="0"
                            min="0"
                            max="9"
                            required>
                            <label for="pic">{% trans 'Quantity' context 'quantity' %}</label><br>
                        {% else %}
                            <p>{% trans 'With image?' context 'withimage' %}</p>
                            <input
                            class="w3-radio w3-section"
                            type="radio"
                            id="pic-sim"
                            name="pic"
                            value="sim"
                            required>
                            <label for="pic-sim">{% trans 'Yes' context 'yes' %}</label><br>
                            <input
                            class="w3-radio w3-section"
                            type="radio"
                            id="pic-nao"
                            name="pic"
                            value="nao"
                            required>
                            <label for="pic-nao">{% trans 'No' context 'no' %}</label><br><br>
                        {% endif %}
                    </div>
                    <p>
                        <input
                        class="w3-input w3-border w3-leftbar w3-rightbar w3-border-light-grey"
                        name="obs"
                        id="obs"
                        list="commons"
                        type="text"
                        placeholder="{% trans 'Observation' context 'triage-observation' %}">
                        <br>
                        <input
                        class="w3-button w3-leftbar w3-rightbar w3-border-light-grey w3-block w3-red"
                        name="overwrite"
                        id="overwrite"
                        type="button"
                        value="{% trans 'Change bytes' context 'triage-alterbytes' %}"
                        onclick="handleOverwriteClick('{{ edit.orig_bytes }}')">
                    </p>
                    <datalist id="commons">
                        <option value="{% trans 'Copyright infringement' context 'triage-vda' %}">
                        <option value="{% trans 'Mere redirection' context 'triage-redirect' %}">
                        <option value="{% trans 'Sourceless content' context 'triage-noref' %}">
                        <option value="{% trans 'Mere categorization' context 'triage-onlycat' %}">
                        <option value="{% trans 'Mere insertion of maintenance marks' context 'triage-onlytag' %}">
                    </datalist>
                </form>
                <div class="w3-row">
                    <div class="w3-section w3-col l6">
                        <input
                        form="evaluate"
                        class="w3-button w3-green w3-leftbar w3-{{ right }}bar w3-border-light-grey w3-block"
                        type="submit"
                        value="{% trans 'Save' context 'triage-save' %}">
                    </div>
                    <div class="w3-section w3-col l6">
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="diff" value="{{ edit.diff }}">
                            <input type="hidden" name="skip" value="true">
                            <button
                            class="w3-button w3-purple w3-leftbar w3-rightbar w3-border-light-grey w3-block"
                            type="submit"
                            {% if not edit.diff %}disabled{% endif %}
                            >{% trans 'Skip' context 'triage-jump' %}</button>
                        </form>
                    </div>
                </div>
            </div>
            <div id="edits" class="w3-container w3-light-grey w3-border w3-border-dark-grey w3-justify w3-margin-bottom">
                <h2>{% trans 'Edits' context 'edits' %}</h2>
                <div class="w3-row">
                    <div class="w3-col l6 m12 s6">
                        <h6 class="w3-center">{% trans 'Available' context 'triage-toeval' %}</h6>
                        <h1 class="w3-center">{{ onqueue }}</h1>
                    </div>
                    <div class="w3-col l6 m12 s6">
                        <h6 class="w3-center">{% trans 'Awaiting' context 'triage-towait' %}</h6>
                        <h1 class="w3-center">{{ onwait }}</h1>
                    </div>
                </div>
                <div class="w3-row">
                    <div class="w3-col l6 m12 s6">
                        <h6 class="w3-center">{% trans 'On evaluation' context 'triage-onhold' %}</h6>
                        <h1 class="w3-center">{{ onhold }}</h1>
                    </div>
                    <div class="w3-col l6 m12 s6">
                        <h6 class="w3-center">{% trans 'Skipped' context 'triage-onskip' %}</h6>
                        <h1 class="w3-center">{{ onskip }}</h1>
                    </div>
                </div>
                <p>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="release" value="true">
                        <button
                        class="w3-button w3-purple w3-leftbar w3-rightbar w3-border-light-grey w3-block"
                        type="submit"
                        {% if not onskip %}disabled{% endif %}
                        >{% trans 'Release skipped edits' context 'triage-release' %}</button>
                    </form>
                </p>
                {% if evaluator_status == 'G' %}
                    <p>
                        <form method="post"
                        onsubmit="return confirm('{% trans 'Are you sure?' context 'evaluators-areyousure' %}');">
                            {% csrf_token %}
                            <input type="hidden" name="unhold" value="true">
                            <button
                            class="w3-button w3-red w3-leftbar w3-rightbar w3-border-light-grey w3-block"
                            type="submit"
                            {% if onpending < 0 %}disabled{% endif %}
                            >{% trans 'Release edits from all evaluators' context 'triage-unhold' %}</button>
                        </form>
                    </p>
                {% endif %}
            </div>
        </div>
        <div id="second_column" class="w3-half">
            {% if error == 'updating' %}
                <div class="w3-panel w3-red w3-display-container w3-border">
                    <p>
                        <h3>{% trans 'Database updating.' context 'triage-database' %}</h3>
                        {% trans 'Please wait a few minutes and refresh the page.' context 'triage-databaseabout' %}
                    </p>
                </div>
            {% elif not compare %}
                <div class="w3-panel w3-orange w3-display-container w3-border">
                    <p>
                        <h3>{% trans 'There is no edit to be displayed at this time.' context 'triage-noedit' %}</h3>
                    </p>
                </div>
            {% else %}
                <div class="w3-container w3-justify w3-margin-bottom w3-row details">
                    <h3>{% trans 'Edit details' context 'triage-details' %}</h3>
                    <div class="w3-col l6">
                        <strong><i class="fa-solid fa-user"></i>{% trans 'User:' context 'label-user' %}</strong>
                        <span style="font-weight:bolder;color:red;">{{ compare.touser }}</span>
                        <br>
                        <strong><i class="fa-solid fa-font"></i>{% trans 'Article:' context 'label-page' %}</strong>
                        <a href="{{ contest.endpoint }}?curid={{ compare.toid }}"
                        target="_blank" rel="noopener">{{ compare.totitle }}</a>
                        <br>
                        <strong><i class="fa-solid fa-hand-point-up"></i>{% trans 'Authorship:' context 'triage-authorship' %}</strong>
                        <a onclick="calculateAuthorship('{{ edit.diff }}','{{ contest.endpoint }}')"
                        href="#" id="a_authorship">{% trans 'Verify' context 'triage-verify' %}</a>
                        <span id="span_authorship"></span>
                        <br>
                        <strong><i class="fa-regular fa-clock"></i>{% trans 'Timestamp:' context 'label-timestamp' %}</strong>
                        {{ edit.timestamp }} (UTC)
                    </div>
                    <div class="w3-col l6">
                        <strong><i class="fa-solid fa-arrow-up-9-1"></i>{% trans 'Difference:' context 'label-diff' %}</strong>
                        {{ edit.orig_bytes }} bytes
                        <br>
                        <strong><i class="fa-solid fa-thumbtack"></i>{% trans 'Diff' context 'triage-diff' %}:</strong>
                        <a href="{{ contest.endpoint }}?diff={{ edit.diff }}"
                        target="_blank" rel="noopener">{{ edit.diff }}</a>
                        <br>
                        <strong><i class="fa-solid fa-triangle-exclamation"></i>{% trans 'Copyvio Detector' context 'triage-copyvio' %}:</strong>
                        <a onclick="calculateCopyvios('{{ edit.diff }}','{{ contest.endpoint }}')"
                        href="#" id="a_copyvios">{% trans 'Verify' context 'triage-verify' %}</a>
                        <span id="span_copyvios"></span>
                        <br>
                        <strong><i class="fa-solid fa-comment"></i>{% trans 'Summary:' context 'label-summary' %}</strong>
                        {{ compare.tocomment }}
                    </div>
                </div>
                <div class="tooltip w3-button w3-orange" style="visibility: hidden;">
                    <span class="tooltiptext" id="tooltip">{% trans 'Bytes in selected text' context 'triage-counter' %}: 0</span>
                </div>
                <div class="w3-container" id="text-container">
                    <h3>{% trans 'Edit differential' context 'triage-differential' %}</h3>
                    <table
                    role="presentation"
                    aria-label="Diferencial de edição"
                    class="diff diff-desktop diff-contentalign-left diff-editfont-monospace w3-hide-small w3-hide-medium"
                    >
                        <colgroup>
                            <col style="width:2%">
                            <col style="width:48%">
                            <col style="width:2%;">
                            <col style="width:48%">
                        </colgroup>
                        {{ compare_html | safe }}
                    </table>
                    <table
                    role="presentation"
                    aria-label="Diferencial de edição"
                    class="diff diff-mobile diff-contentalign-left diff-editfont-monospace w3-hide-large"
                    >
                        {{ compare_mobile_html | safe }}
                    </table>
                    <hr>
                </div>
            {% endif %}
        </div>
        <div id="third_column" class="w3-quarter">
            <div class="w3-container w3-light-grey w3-border w3-border-dark-grey w3-justify w3-margin-bottom"
            style="display:{% if edit.timestamp %}block{% else %}none{% endif %}">
                <h2>{% trans 'Recent history' context 'triage-recenthistory' %}</h2>
                {% for event in context %}
                    <p class='{{ event.class }}'>
                        <strong>{{ event.user }}</strong>
                        <br>
                        <a href="{{ contest.endpoint }}?diff={{ event.revid }}"
                        target="_blank" rel="noopener">{{ event.timestamp }}</a>
                        <br>
                        <span class='w3-text-{{ event.color }}'>{{ event.bytes }} bytes</span>
                    </p>
                {% endfor %}
            </div>
            <div class="w3-container w3-light-grey w3-border w3-border-dark-grey w3-justify w3-margin-bottom">
                <h2>{% trans 'General information' context 'triage-generalinfo' %}</h2>
                <p class="w3-small">
                    <strong>{% trans 'wikicontest name' context 'triage-contestname' %}</strong>
                    <br>
                    {{ contest.name }}
                </p>
                <p class="w3-small">
                    <strong>{% trans 'Current evaluator name' context 'triage-loggedname' %}</strong>
                    <br>
                    {{ request.user }}
                </p>
                <p class="w3-small">
                    <strong>{% trans 'wikicontest start time' context 'triage-conteststart' %}</strong>
                    <br>
                    {{ contest.start_time }}
                </p>
                <p class="w3-small">
                    <strong>{% trans 'wikicontest end time' context 'triage-contestend' %}</strong>
                    <br>
                    {{ contest.end_time }}
                </p>
                <p class="w3-small">
                    <strong>{% trans 'Last database update' context 'triage-lastupdate' %}</strong>
                    <br>
                    {{ contest.finished_update }}
                </p>
                <p class="w3-small">
                    <strong>{% trans 'Delay in registering edits' context 'triage-delay' %}</strong>
                    <br>
                    {% blocktrans with 1=contest.revert_time context 'triage-hours' %}{{1}} hours{% endblocktrans %}
                </p>
                <p class="w3-small">
                    <strong>{% trans 'Bytes per point' context 'triage-bpp' %}</strong>
                    <br>
                    {% blocktrans with 1=contest.bytes_per_points context 'triage-bytes' %}{{1}} bytes{% endblocktrans %}
                </p>
                <p class="w3-small">
                    <strong>{% trans 'Maximum bytes/points per article' context 'triage-maxbytes' %}</strong>
                    <br>
                    {% blocktrans with 1=contest.max_bytes_per_article context 'triage-bytes' %}{{1}} bytes{% endblocktrans %}
                    /
                    {% blocktrans with 1=triage_points context 'triage-points' %}{{1}} points{% endblocktrans %}
                </p>
                <p class="w3-small">
                    <strong>{% trans 'Minimum bytes per edit' context 'triage-minbytes' %}</strong>
                    <br>
                    {% if not contest.minimum_bytes %}
                        {% trans 'Undefined' context 'triage-indef' %}
                    {% elif contest.minimum_bytes == -1 %}
                        {% trans 'Including edits with negative bytes' context 'triage-includingall' %}
                    {% else %}
                        {% blocktrans with 1=contest.minimum_bytes context 'triage-bytes' %}{{1}} bytes{% endblocktrans %}
                    {% endif %}
                </p>
                <p class="w3-small">
                    <strong>{% trans 'Images per point' context 'triage-ipp' %}</strong>
                    <br>
                    {% if contest.pictures_per_points == 0 %}
                        {% trans 'Disabled' context 'triage-noimages' %}
                    {% else %}
                        {% blocktrans with 1=contest.pictures_per_points context 'triage-images' %}{{1}} image(s){% endblocktrans %}
                    {% endif %}
                </p>
                <p class="w3-small" style="display:{% if not contest.pictures_per_points %}none{% else %}block{% endif %}">
                    <strong>{% trans 'Image mode' context 'triage-imagemode' %}</strong>
                    <br>
                    {% if contest.pictures_per_points == 2 %}
                        {% trans 'Per image' context 'triage-byimage' %}
                    {% elif contest.pictures_per_points == 1 %}
                        {% trans 'Per edit' context 'triage-byedition' %}
                    {% else %}
                        {% trans 'Per article' context 'triage-bypage' %}
                    {% endif %}
                </p>
                <p class="w3-small" style="display:{% if not contest.max_pic_per_article %}none{% else %}block{% endif %}">
                    <strong>{% trans 'Maximum images per article' context 'triage-maximages' %}</strong>
                    <br>
                    {% if contest.max_pic_per_article %}
                        {{ contest.max_pic_per_article }}
                    {% else %}
                        {% trans 'Undefined' context 'triage-indef' %}
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
{% endblock %}