<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Internal Error - WikiScore</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/w3.css">
    <link href="https://tools-static.wmflabs.org/fontcdn/css?family=Roboto" rel="stylesheet" type="text/css">
</head>
<body style="font-family: 'Roboto', sans-serif;">

<!-- Header -->
<header class="w3-container w3-content w3-padding-32 w3-center">
    <img alt="logo" src="/static/Logo_Preto_Tagline.svg" style="width: 300px;">
    <h1 class="w3-jumbo w3-text-red">Error 500</h1>
    <p class="w3-xlarge">An internal server error occurred. We are working to resolve the issue.</p>
    <button class="w3-button w3-black w3-padding w3-margin-top w3-round-xxlarge" onclick="location.href='/'">Return to homepage</button>
</header>

</body>
</html>
